{% extends "layout.html" %}
{% block body %}
    <div class="wrapper">
            <div class="grids">
                  <div class="grid-10 grid">

                    <h2>HTPC</h2> 

                    <p><a href=# id=wol_htpc class="button">Włącz HTPC</a>&nbsp;&nbsp;<a href=# id=x10_power  class="button">Wyłącz HTPC</a>
                    <br />
                    <p><a href=# id=x10_pause class="button">Play</a>&nbsp;&nbsp;<a href=# id=x10_stop      class="button">Stop</a></p>
                    <p><a href=# id=x10_prev  class="button">Poprzedni</a>&nbsp;&nbsp;<a href=# id=x10_next class="button">Następny</a></p>
                    <p><a href=# id=x10_down  class="button">W dół</a>&nbsp;&nbsp;<a href=# id=x10_up       class="button">Do góry</a></p>
                    <p><a href=# id=x10_ok    class="button">Ok</a>&nbsp;&nbsp;<a href=# id=x10_pr_back     class="button">Wróć</a></p>
                    <p><a href=# id=x10_left  class="button">W lewo</a>&nbsp;&nbsp;<a href=# id=x10_right   class="button">W prawo</a></p>

                    <p><a href=# id=x10_pr_p class="button">XBMC Głoś. +</a>&nbsp;&nbsp;<a href=# id=x10_pr_m  class="button">XBMC Głoś. -</a></p>
                    <p><a href=# id=x10_vol_u class="button">Win Głoś. +</a>&nbsp;&nbsp;<a href=# id=x10_vol_d  class="button">Win Głoś. -</a></p>
                    <br />

                  </div><!--end of grid-10--> 
            </div><!--end of grids-->
    </div><!--end of wrapper-->
     <div class="wrapper">   
     
            <div class="grids">
                  <div class="grid-3 grid"> 
                    <p><a href=# id=x10_pr_p class="button">XBMC Głoś. +</a>
                       <br/>
                       <a href=# id=x10_pr_m class="button">XBMC Głoś. -</a></p>
                  </div><!--end of grid-3--> 
                    <p><a href=# id=x10_vol_u class="button">Win Głoś. +</a>
                        <br/>
                        <a href=# id=x10_vol_d class="button">Win Głoś. -</a></p>
                  <div class="grid-3 grid"> 

                  </div><!--end of grid-3--> 
            </div><!--end of grids-->
    </div><!--end of wrapper-->
<p>  Wynik:<br/>
  <span id=result> </span><br/>
<br/>
{% endblock %}
