<!doctype html>
<html lang="en"><!-- use class="debug" here if you develope a template and want to check-->
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
   	<!-- some meta tags, important for SEO"--> 
    <meta name="description" content="My Home automation sever" />
    <meta name="keywords" content="automation server z-wave xbmc samsung" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="index,follow" />

	<title>Dobrzyki Serwer</title>
<!--
	<script type=text/javascript
	  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
-->

            
            <link rel="stylesheet" href="css/inuit.css" />
            <link rel="stylesheet" href="css/fluid-grid16-1100px.css" />
            <link rel="stylesheet" href="css/eve-styles.css" />
            <link rel="shortcut icon" href="icon.png" />
            <link rel="apple-touch-icon-precomposed" href="img/icon.png" />
            
            <script src="js/respond-min.js" type="text/javascript"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
            <script>window.jQuery || document.write('<script src="scripts/jquery164min.js">\x3C/script>')</script><!--local fallback for JQuery-->
			<script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
            <link rel="stylesheet" href="css/flexslider.css" />
            
            <script type="text/javascript">
				  $(window).load(function() {
                  /*
                    $('#nav').each(function () {
                          var $this = $(this);
                          var tmp = ""
                          
                          $('#result').text($this.child('li').val());
                    })
                    */
					$('.flexslider').flexslider({
						  animation: "slide",<!--you can also choose fade here-->
						  directionNav: false,<!--Attention: if you choose true here, the nav-buttons will also appear in the ticker! -->
						  keyboardNav: true,
						  mousewheel: true
					});
				  });
				</script>

	<script type=text/javascript>
	  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>
<body>
<script type=text/javascript>
  $(function() {

    var run_cmd_this = function(e) {
      var data = "";
      var mfun ="";
      var mparam = "";
      var mval = "";
      
      if (this.id.indexOf("_") > 0) {
          mfun   = this.id.substr(0, this.id.indexOf("_")).toUpperCase()
          mparam = this.id.substr(this.id.indexOf("_")+1, this.id.length)
          if (mparam.indexOf("-") > 0) {
            mval = mparam.substr(mparam.indexOf("-")+1, mparam.length)
            mparam = mparam.substr(0, mparam.indexOf("-") )
          }

          $.getJSON($SCRIPT_ROOT + '/_run_cmd', {
            fun: mfun,
            param: mparam,
            val: mval
          }, function(data) {
            $('#result').text(data.result);
            //$('input[name=fun]').focus().select();
          });
          return false;
      } else {
          return true;
      }
    };
    
    $('a').bind('click', {}, run_cmd_this);
  });
</script>
    <div class="wrapper">
                    <ul id="nav" class="main">
                        <li><a href="/" class="active">Start</a></li>
                        <li><a href="ncplus">NC+</a></li>
                		<li><a href="htpc">Media</a></li>
                        <li><a href="zwave">DOM</a></li>
                    </ul>
    </div><!--end of wrapper-->
{% block body %}{% endblock %}
</body>
</html>